@use "./variables" as vars;

@mixin shadow($color) {
    box-shadow: 0 vars.$shadow-range vars.$shadow-range rgba($color, 0.25);
}
@mixin border($color) {
    border: 2px solid $color;
    border-radius: vars.$border-radius;
}
@mixin transition($property) {
    transition: $property 0.3s ease-in-out;
}