$primary: #60d9f1; 
$input-placeholder: #1e608b; 
$primary-hover: #46aecf; 
$primary-active: #1e608b; 
$danger: hsla(13, 100%, 58%, 0.6); 
$danger-hover: #db381d; 
$danger-active: #930c0c; 
$edit: #257bfc; 
$edit-hover: #1b5fd8; 
$todo-title: #1e608b; 
$success: #84c120; 
$success-hover: #6aa517; 
$success-active: #3d6f0a; 
$todoitem-background-base: #dffef9; 
$todoitem-border-base: #46aecf; 
$modalsucces-bg: #e2f8a5; 
$modalsuccess-border: #84c120; 
$white: #fff;
$black: rgba(0, 0, 0);

$font-family: "Lato", sans-serif;
$font-size: 1rem;

$space: 1rem;
$shadow-range: $space * 0.25;
$border-radius: $space * 0.25;

$todo-height: $space * 4.5;
$todo-padding: $space;
$todo-icon-padding: $space * 0.125;
$todo-icons-margin: $space;
$todo-icons-width: $space * 4;


$svg-width: $space * 1.5;
$svg-height: $svg-width;

$modal-backdrop: rgba($black, 0.25);
$modal-border: $primary;
$modal-max-width: $space * 48;
$modal-header-font-size : $font-size * 1.75;
$modal-header-font-weight : 600;